<div class="loadingOverlay" *ngIf="loadingHandler.isLoading$ | async">
    <img src="https://c.tenor.com/zTEMR3Ye-n0AAAAM/ditto-no-way.gif">
</div>
<h1 class="d-flex justify-content-center m-3">Reset Password</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 ">

            <form>
                <p>User Profile</p>
                <div class="mb-3">
                    <input type="text" class="form-control mb-1" [(ngModel)]="targetUser.firstName"
                        name="firstNameInput" disabled>
                    <input type="text" class="form-control mb-1" [(ngModel)]="targetUser.lastName" name="lastNameInput"
                        disabled>
                </div>
                <div class="mb-3">
                    <label for="newPasswordInput" class="form-label">New Password</label>
                    <input type="password" class="form-control" [(ngModel)]="targetUser.password" name="newPasswordInput">
                </div>
                <div class="mb-3">
                    <button class="btn btn-dark" (click)="onClickUpdatePassword()">Update Password</button>
                </div>

            </form>
        </div>
    </div>
</div>